@import '@styles/_mixin.module.scss';
@import '@styles/_variables.module.scss';

.container{
    background-color: $primary_color;
    margin-top: -75px;
    padding: 20px 55px;
    @include flex_box_custom(space-between, center, 0px);
}

.containerCard{
    width: 280px;
    height: 104px;
    @include flex_box_custom(center, center, 18px);
   
}
.containerContent{
    @include flex_box_custom(center, flex-start,13px);
    flex-direction: column;
    color: $white_color;
    font-weight: 300;

    .title {
        font-size: 17px;
   
    }

    .des {
        font-size: 16px;
        color: #ffffffc7;     
   
    }
   
}





