@import '@styles/_mixin.module.scss';
@import '@styles/_variables.module.scss';

.container {
    @include flex_box_custom(space-between, unset, 0px);
    flex-direction: column;
    padding: 30px 20px 0 20px;
    height: 95%;

    .boxBtn{
         @include flex_box_custom(center, unset, 10px);
         flex-direction: column;
         width: 100%;
    }

    
}