@import '@styles/_mixin.module.scss';
@import '@styles/_variables.module.scss';

.loadingIcon{
    animation: loading 1s linear infinite;
    @keyframes loading {
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}


